# Hadoop mapReduce on US state school districts financial data

### The data

In [4]:
import pandas as pd
df = pd.read_csv('schools.txt', sep="\t")
df.head()

,STATE,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURELSC,TCURINST,TCURSSVC,TCUROTH,NONELSEC,TCAPOUT
0,Alabama,AUTAUGA CO SCH DIST,2000,48294,3344,34783,10167,49796,42037,26648,12921,2468,752,4761
1,Alabama,BALDWIN CO SCH DIST,2000,150579,10578,78199,61802,138009,128009,81035,40483,6491,2792,5378
2,Alabama,BARBOUR CO SCH DIST,2000,11773,1628,8225,1920,11801,10244,5837,3480,927,265,1083
3,Alabama,EUFAULA CTY SCH DIST,2000,19780,1727,11936,6117,18575,16709,10389,5085,1235,451,1412
4,Alabama,BIBB CO SCH DIST,2000,21020,2531,15267,3222,21306,19004,11934,5604,1466,498,1396

## 1st MapReducer for calculating the school district with the max revenue for each state followed by the year that it achieved it

## Mapper

In [ ]:
import sys
for line in sys.stdin:
    data = line.strip().split("\t")
    if len(data) == 14:
        state, school_dist, year, revenue, federal_rev, state_rev, local_rev, expend,
        tcureklsc, tcurinst,tcurssv,tcurth,nonelsec,tcapout = data
        print "{0}\t{1}\t{2}\t{3}".format(state,  school_dist, revenue,year)

## Reducer

In [ ]:
#!/usr/bin/python

import sys

oldKey = None
maxrev = 0
school = None

for line in sys.stdin:
    data_mapped = line.strip().split("\t")
    if len(data_mapped) != 4:
        continue           

    newKey, school_dist, revenue, year  = data_mapped

    if oldKey and oldKey != newKey:
        print oldKey , "\t", maxrev, "\t", school, "\t", yr
        oldKey = newKey;
        maxrev = 0
        school = None
        yr = 0
   
    oldKey = newKey
    if maxrev < float(revenue):
	    maxrev = float(revenue)
        school = school_dist
        yr = int(year)  
        
if oldKey != None:
    print oldKey , "\t" , maxrev, "\t", school, "\t", yr

## Result

In [16]:
data = pd.read_csv('result_schools_year_state', sep="\t", names = ["State", "Max Revenue", "School District", "Year"])
pd.options.display.float_format = '{:.0f}'.format 
data

,State,Max Revenue,School District,Year
0,Alabama,618181,MOBILE COUNTY SCHOOL DISTRICT,2008
1,Alaska,914050,ANCHORAGE SCHOOL DISTRICT,2015
2,Arizona,635243,MESA UNIFIED SCHOOL DIST,2008
3,Arkansas,371708,LITTLE ROCK SCH DISTRICT,2012
4,California,9695990,LOS ANGELES UNIF SCH DIST,2009
5,Colorado,1187223,DENVER SCH DIST 1,2015
6,Connecticut,521675,HARTFORD PUBLIC SCHOOLS,2015
7,Delaware,318466,CHRISTINA SCHOOL DISTRICT,2015
8,District of Columbia,1382282,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,2015
9,Florida,3959408,MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT,2008
10,Georgia,1776957,GWINNETT CO SCH DIST,2015
11,Hawaii,2985593,HAWAII PUBLIC SCHOOLS,2007
12,Idaho,276987,MERIDIAN SCHOOL DISTRICT 2,2010
13,Illinois,5760419,CITY OF CHICAGO SCHOOL DISTRICT 299,2012
14,Indiana,729047,INDIANAPOLIS PUBLIC SCHOOLS,2010
15,Iowa,462006,DES MOINES INDEPENDENT COMMUNITY SCHOOL DISTRICT,2015
16,Kansas,623732,WICHITA UNIFIED SCHOOL DISTRICT 259,2015
17,Kentucky,1282005,JEFFERSON CO SCHOOL DISTRICT,2015
18,Louisiana,625708,JEFFERSON PARISH SCHOOL DISTRICT,2012
19,Maine,119828,PORTLAND CITY SCHOOLS,2014
20,Maryland,3159510,MONTGOMERY COUNTY SCHOOLS,2015
21,Massachusetts,1405169,BOSTON CITY SCH,2014
22,Michigan,1671978,DETROIT PUBLIC SCHOOLS,2002
23,Minnesota,680834,MINNEAPOLIS SPECIAL SCHOOL DISTRICT 1,2015
24,Mississippi,291507,JACKSON MUN SEP SCH DIST,2012
25,Missouri,510063,ST LOUIS CITY BD OF EDUCATION,2002
26,Montana,114234,BILLINGS ELEM SCH DIST 2,2015
27,Nebraska,647561,OMAHA CITY SCHOOL DISTRICT 1,2015
28,Nevada,3179037,CLARK COUNTY SCHOOL DISTRICT,2009
29,New Hampshire,184082,MANCHESTER CITY SCHOOL DISTRICT,2015
30,New Jersey,1163400,NEWARK CITY PUBLIC SCHOOLS,2013
31,New Mexico,1051179,ALBUQUERQUE SCH DIST,2015
32,New York,25437384,NEW YORK CITY SCHOOL DISTRICT,2015
33,North Carolina,2297008,CHARLOTTE-MECKLENBURG SCHOOLS,2010
34,North Dakota,161898,BISMARCK SCH DIST 1,2015
35,Ohio,980035,COLUMBUS CITY SCH DIST,2011
36,Oklahoma,478115,OKLAHOMA CITY SCH DIST 89,2011
37,Oregon,644677,PORTLAND SCH DIST 1J,2015
38,Pennsylvania,2915242,PHILADELPHIA SCHOOL DISTRICT,2015
39,Rhode Island,461090,PROVIDENCE CITY SCHS,2015
40,South Carolina,817378,GREENVILLE COUNTY SCHOOL DISTRICT,2015
41,South Dakota,223677,SIOUX FALLS SCHOOL DISTRICT 49-5,2015
42,Tennessee,1470379,SHELBY CO SCHOOL DISTRICT,2014
43,Texas,2365285,HOUSTON IND SCH DIST 912,2015
44,Utah,635282,JORDAN SCH DIST,2008
45,Vermont,83385,BURLINGTON CITY SCHS,2015
46,Virginia,2642632,FAIRFAX CO SCHS,2015
47,Washington,826461,SEATTLE SCHOOL DISTRICT 1,2015
48,West Virginia,384864,KANAWHA CO SCHOOL DISTRICT,2012
49,Wisconsin,1310838,MILWAUKEE CITY SCHOOL DISTRICT,2011
50,Wyoming,309591,NATRONA CO SCH DIST 1,2015

## 2nd MapReducer for calculating the overall revenue for each State

## Mapper

In [ ]:
import sys
for line in sys.stdin:
    data = line.strip().split("\t")
    if len(data) == 14:
        state, school_dist, year, revenue, federal_rev, state_rev, local_rev, expend, tcureklsc, tcurinst,tcurssv,tcurth,nonelsec,tcapout = data
        print "{0}\t{1}".format(state,  revenue)

## Reducer

In [ ]:
import sys

revenueTotal = 0
oldKey = None



for line in sys.stdin:
    data_mapped = line.strip().split("\t")
    if len(data_mapped) != 2:
       
        continue

    newKey, revenue = data_mapped

    if oldKey and oldKey != newKey:
        print oldKey, "\t", revenueTotal
        oldKey = newKey;
        revenueTotal = 0

    oldKey = newKey
    revenueTotal += float(revenue)

if oldKey != None:
    print oldKey, "\t", revenueTotal

## Result

In [15]:
data = pd.read_csv('result_sum_revenue_perstate.txt', sep="\t",names = ["State", "Revenue"])

data

                    State    Revenue
0                Alabama   128468921
1                 Alaska    39456709
2                Arizona   152674940
3               Arkansas    83172124
4             California  1279502695
5               Colorado   148143046
6            Connecticut   171805514
7               Delaware    31235363
8   District of Columbia    23480558
9                Florida   481996387
10               Georgia   310965458
11                Hawaii    46112730
12                 Idaho    38578348
13              Illinois   489167204
14               Indiana   227827286
15                  Iowa   107310879
16                Kansas    98910218
17              Kentucky   121659034
18             Louisiana   139117548
19                 Maine    49169209
20              Maryland   223617393
21         Massachusetts   272820695
22              Michigan   392548082
23             Minnesota   196253473
24           Mississippi    77947390
25              Missouri   178710712
26               Montana    29916939
27              Nebraska    65460913
28                Nevada    69108890
29         New Hampshire    49287430
30            New Jersey   462416035
31            New Mexico    62532440
32              New York   971097782
33        North Carolina   243610786
34          North Dakota    22813240
35                  Ohio   420463619
36              Oklahoma   104429680
37                Oregon   114373675
38          Pennsylvania   492606771
39          Rhode Island    40165926
40        South Carolina   137453392
41          South Dakota    23086947
42             Tennessee   149631921
43                 Texas   847438055
44                  Utah    73031054
45               Vermont    33426749
46              Virginia   259041441
47            Washington   212562757
48         West Virginia    61633797
49             Wisconsin   206929796
50               Wyoming    26674400